.table{
    width: calc(100% - 155px);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    overflow: scroll;

    &::-webkit-scrollbar{
        display: none;
    }

    form{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 10px;
        color: gray;
        font-size: 12px;

        .input-item{
            display: flex;
            align-items: center;
            gap: 5px;

            label{
                text-transform: capitalize;
            }

            input{
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid lightgray;
                padding: 0px 2px;
            }
            
            select{
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid lightgray;
            }
        }

        button{
            padding: 2px 5px;
            background-color: darkgray;
            border-radius: 5px;
            border: none;
            color: white;
            cursor: pointer;

            &:hover{
                background-color: lightgray;
                transition: all 0.5s;
            }
        }
    }

    hr{
        border: 1px solid lightgray;
    }

    .table-container{
        max-height: 100vh;
        overflow-y: auto;

        button{
            padding: 2px 5px;
            background-color: darkgray;
            border-radius: 5px;
            border: none;
            color: white;
            cursor: pointer;
            margin-bottom: 2px;
            margin-right: 0;

            &:hover{
                background-color: lightgray;
                transition: all 0.5s;
            }
        }

        table{
            width: 100%;
            border-collapse: collapse;
            font-size: 10px;
            thead{
                tr{
                    th{
                        background-color: #f5f5f5;
                        position: sticky;
                        top: 0px;
                        text-align: left;
                        padding: 5px;
                        text-transform: capitalize;                        
                    }
                }
            }

            tbody{
                tr{                    
                    td{
                        padding: 5px;
                        text-align: left;
                        border: 1px solid #ddd;

                        button{
                            margin-right: 10px;
                            align-items: center;
                            border: none;
                            background-color: white !important;

                            .edit{
                                color: gray;
                                height: 20px;
                                width: 20px;
                                transition: all 0.5s;

                                &:hover{
                                    color: white;
                                    background-color: gray;
                                    border-radius: 3px;
                                }
                            }

                            .delete{
                                color: gray;
                                height: 20px;
                                width: 20px;
                                transition: all 0.5s;

                                &:hover{
                                    color: white;
                                    background-color: gray;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
            }            
        }
    }
}