.table{
    width: calc(100% - 155px);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    overflow: scroll;

    &::-webkit-scrollbar{
        display: none;
    }
    
    .table-container{
        max-height: 100vh;
        overflow-y: auto;

        table{
            width: 100%;
            border-collapse: collapse;
            font-size: 10px;            

            thead{
                tr{
                    th{
                        background-color: #f5f5f5;
                        position: sticky;
                        top: 0px;
                        text-align: left;
                        padding: 5px;
                        text-transform: capitalize;
                    }
                }
            }

            tbody{
                tr{                    
                    td{
                        padding: 5px;
                        text-align: left;
                        border: 1px solid #ddd;

                        button{
                            margin-right: 10px;
                            align-items: center;
                            border: none;
                            background-color: white !important;

                            .edit-temp{
                                color: gray;
                                height: 20px;
                                width: 20px;
                                transition: all 0.5s;

                                &:hover{
                                    color: white;
                                    background-color: gray;
                                    border-radius: 3px;
                                }
                            }

                            .delete-temp{
                                color: gray;
                                height: 20px;
                                width: 20px;
                                transition: all 0.5s;

                                &:hover{
                                    color: white;
                                    background-color: gray;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
            }            
        }
    }
}